* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
}

/* HEADER */
.container {
    width: 100vw;
    height: fit-content;
    font-size: 80%;
    display: flex;
    left: 30%;
}

.women-men {
    width: fit-content;
    margin-right: 30px;
    position: fixed;
    display: flex;
}

.women-menu-item, .a, .men-menu-item {
    font-size: 300;
    text-decoration:  none;
    color: black;
}

.men-menu-title, .disabled {
    color: grey;
}
.nav-central {
    width: fit-content;
    margin-right: 30px;
    margin-left: 40%;
}

.right-menu {
    width: 30%;
    height: fit-content;
    display: flex;
    transform: translate3d(-190px, 90px, 10px);
    align-items: center;
    flex-direction: column;
}
.search-menu, .options {
    display: flex;
    font-size: 75%;
}
.p {
    width: max-content;
    margin-right: 10px;
}
.header-logo {
    width: 10%;
    height: 10%;
}
.lupa-logo {
    width: 10%;
    height: 10%;
    transform:translate3d(-170px, 1px, 10px)
}
/* PHOTOS */
.photos-display{
    width: 100vw;
    height: fit-content;
    padding-bottom: 50px;
    padding-top: 60px;
}
.photo {
    text-align: center;
}

.first-row, .second-row, .third-row, .fourth-row, .fith-row, .sixth-row {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.bold {
    font-weight: bold;
}

/* CONTACT */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    border-style: groove none;
}
.contact__title2 {
    font-weight: lighter;
    padding-bottom: 15px;
}

.email {
    width: 90%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
.phone-number {
    color: green;
    display: flex;
    justify-content: center;
    width: 35%;
    align-items: center;
}
.phone-logo {
    width: 10%;
    height: 10%;
}
.contac__information {
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* FOOTER */
.footer {
    width: 100vw;
    height: fit-content;
}
.shop-guide, .services, .enterprise, .politics, .social, .paid-methods {
    margin: 10px 0px 0px 0px;
    width: 50%;
}
.footer-menu {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 5%;
}
.footer-logo {
    width: 7.5%;
    height: 80%;
    padding-top: 10px;
}
.social, .paid-methods, .footer-list  {
    display: flex;
    flex-direction: column;
}
.social, .paid-methods {
    width: 70%;
}
.footer-list-title, .footer-list, .footer-list-item {
    padding: 5px 0px 0px 0px;
}
.device-options {
    border-top-style: groove;
    width: 100vw;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}
.spain, .ios-app, .android-app, .mas-moda {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left-style: groove;
    width: 50%;
    padding-bottom: 5%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .men-menu-list {
        display: none;
    }
}
@media only screen and (min-width: 600px){
    
}

@media only screen and (min-width: 768px){
    .container {
        font-size: 100%;
    }
    .nav-central {
        margin-left: 25%;
    }
    .right-menu {
        transform: none
    }
    .shop-guide, .services, .enterprise, .politics, .social, .paid-methods {
        margin: 10px 0px 0px 0px;
        width: 30%;
    }
    .footer-menu {
        height:max-content;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .shop-guide, .services, .enterprise, .politics, .social, .paid-methods {
        margin: 10px 0px 0px 0px;
        width: 15%;
    }
    .container {
        font-size: 110%;
    }
    .nav-central {
        margin-left: 32%;
    }
    .spain, .ios-app, .android-app, .mas-moda {
        width: 25%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}